/*  ------ Global settings */

/* Default left, right, top, bottom margin is 2cm */
@page {
    size: auto;
    margin: 0;
}

html {
    background-color: white;
    margin: 0;
}

body {
    column-count: 2;
    column-gap: 2em;
    column-rule: thin solid black;
    margin: 10mm;
}

h1 {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 26px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26px;
}

h3 {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26px;
}

* {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 26px;
}

.small {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 10px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 10px;
    padding-top: 16px
}

blockquote {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 26px;
}

pre {
    font-family: Arial, Helvetica Nesue, Helvetica, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 26px;
}

* {
    box-sizing: border-box
}

.exc {
    page-break-inside: avoid;
    min-height: 2.5cm;
    border-bottom: 1px solid black;
}

